#all-articles h2 + p {
    color: blueviolet; 
}

p[class]{
    background-color: grey;
}

a:hover{
    color:green;
}

header:hover{
    color: green;
}

header:active{
    color: grey;
}

header:visited{
    color:pink;
}

h2:nth-of-type(1), h2:nth-of-type(2) {
    font-size: 50px;
    font-weight: bold;
    background-color: darkseagreen;
}

li:nth-child(even){
    font-weight: bold;
    background-color: rgb(12, 145, 18);
    padding: 10px;
}

li:nth-child(odd){
    background-color: rgb(219, 18, 192);
    padding: 10px;
}

#ccc li:nth-child(even){
    background-color: rgb(82, 76, 76);
}
#ccc li:nth-child(odd){
    background-color: rgb(224, 159, 105);
}
