/******************************************
*
* Author: K.Dzik
* Date: 26.07
*
*******************************************/


header {
    background-color: burlywood;
    font-size: 20px;
}
/* I'm checking how the commments work */

h1 {
    text-decoration: underline;
    color: brown;
}

#experience {
    text-transform: uppercase;
    width: 300px;
    margin: left;
    color: blue;
}

ul{
    color:red;
}

p { 
    color: green !important;
}

#education {
    color: purple;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
} 

div span[class]{
        background-color: brown;
}


